/* @autor: BIREME | OPAS | OMS - > Márcio Alves */
body{
	/*background: #f5f5f5;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
#header{
	background: #f5f5f5; 
	backgro/und:  radial-gradient(circle, rgba(238,238,238,1) 0%, rgba(232,232,232,1) 100%);;
	padding: 30px 0px 0px 0px;
	margin-top:0;
	margin-bottom: 0px;
}
#logo img{
	max-width: 100%;
}
#titleMain{
	width:70%;
}
#nav-iahx{
	background-color:#31286b!important;
	margin:0px; padding:10px;
	text-align: right;
}
#nav-iahx a{
	color: #fff;
	text-decoration: none;
}
#nav-iahx a:hover{
	color: #ddd;
}
.titleMain1{
	font-size: 27px; font-weight:bold;
	float:left;
	margin-bottom:30px;
	position:relative
}
.titleVersion{
	font-size: 12px;
	background: #31286b;
	color:#fff;
	border-radius: 03px;
	padding:0 6px;
	font-weight:500;
	top:-18px;
}
.titleMain1x::after{
	content:"V. Beta";
	font-size: 12px;
	background: #31286b;
	color:#fff;
	border-radius: 03px;
	padding:0 6px;
	font-weight:500;
	top:-18px;
}
.lang{
	text-align: right;
}
.lang ul{
	list-style: none;
}
.lang ul li{
	display: inline-block;
}
.lang ul li a{
	background:#fff;
	color: #31286b;
	font-size: 12px;
	padding: 5px;
	text-decoration:none;
}
.lang ul li .active{
	background:#31286b;
	color: #fff;
}
.lang ul li a:hover{
	color: #fff;
	text-decoration:none;
	background: #464bbb;
}
.btnBlue{
	background:#31286b;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	border:0;
	border-radius: 3px;
}
.btnBlue:hover{
	background:#464bbb;
	color: #fff;
	text-decoration: none;
}
.selectBoxSearch select{
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 10px;
	outline: none;
}
.headerSearch{
	background: #fff;
	border: 1px solid #ddd;
	margin-top: 30px; border-radius: 4px 0px 0px 4px;
	clear:both;
	margin-top:20px;
}
#fieldSearch{
	padding-left: 30px;
}
.inputBoxSearch input{
	width: 100%;
	height: 100%;
	border: 0px; border-radius: 4px 0px 0px 4px;
	padding: 10px;
	outline: none;
}
.btnBoxSearch{
	text-align: right;
}
.btnBoxSearch button{
	background: #31286b;
	color: #fff;
	border: 0;
	padding: 10px;
	height: 50px; border-radius:0px 4px 4px 0px;
	width: 50px; cursor: pointer; transition:1s;
}
.btnBoxSearch button:hover{
	background: #464bbb; transition:1s;
}
.btnBoxSearch button i{
	font-size: 16px;
}
.textBTSearch{
	display: none;
}
.country{
	margin-bottom: 10px;
	text-align: center;
	padding: 20px;
}
.country img{
	margin-bottom: 20px;
	border: 1px solid #eee;
	transition: all .2s ease;
}
.country h4{
	font-size: 14px;
}
.country:hover img{
	filter: contrast(90%);
	transform: scale(.9);
}
#footer{
	padding: 30px 0 20px 0;
	margin-top: 20px;
	border-top: 2px solid #ddd;
	background: #31286b;
	color: #ffffff; font-size: 14px;
}
#footer a{
	color: #ffffff;
}
#footer a:hover{
	color: #999;
}
#footer img{
	max-width: 500px;
}
#filterRight{
	padding: 20px 20px 0 0 ;
}
#filterRight ul{
	padding-left: 2rem!important;
}
.boxFilter{
	top: 0;
	font-size: 14px;
	padding: 0 10px 0 10px;
	background: #fff;
	border-radius: 10px;
	/*border-bottom: 3px solid #ddd;*/
	/*border-top: 3px solid #ddd;*/
}
.boxFilter h5{
	line-height: 30px;
	font-size: 26px;
	color: rgb(40, 54, 125);
	font-weight: normal;
	text-decoration: none;
	margin: 0 0 12px 0;
	text-transform: none;
}
.boxFilter a{
	font-weight: bold;
}
.boxFilter ul{
	padding: 0!important;
}
.boxFilter ul li{
	list-style: none;
	position: relative;
	width: 100%;
	float: left;
	color: rgb(102, 102, 102);
	font-size: 13px !important;
	margin-bottom: 10px;
	padding-bottom:10px;
	border-bottom: 1px solid #ddd;
	padding-right: 36px
}
.cat-item-count{
	min-width: 36px;
	font-size: 12px !important;
	line-height: 20px !important;
	position: absolute;
	right: 0;
	top: 1px;
	overflow: hidden;
	border-radius: 11px;
	text-align: center;
	background: rgb(83, 83, 83);
	font-weight: bold;
	color: rgb(255, 255, 255);
	padding: 0px 2px;
}
.box1{
	padding: 20px;
	margin-bottom: 0px;
	transition: border .5s ease;
	word-break: break-word;
	background: #f5f5f5;
	border: 1px solid #dfdfdf;
	margin-top: 20px;
	border-radius: 5px;
	/* border-left: #0d2d2d 1px solid; */
}
.box1:hover{
	background-color: #f0f0f0;
}
.box1Title{
	font-size: 14px;
	font-weight: 600;
	position: relative;
	margin-bottom: 00px;
}
.box1Title::after{
	left: 0;
	height: 7px;
}
.text-center {
	text-align: center;
}
.show-more {
	clear: both;
	margin-bottom: 28px;
}
.loading {
	display: none;
}
.hide {
	display: none;
}
#speakBtn{
	display:none;
}
.cc-banner .wp-block-image img {
	width: 100%;
}
#titleMain{
	width:60%;
}
@media (max-width: 992px){
	#titleMain{
		width:100%;
	}
	.lang{
		float:none;
		text-align:center
	}
}
@media (max-width: 768px){
	#header{
		text-align: center;
	}
	#logo img{
		width:50%;
	}
	#titleMain{
		float:none;
		margin-top:20px;
		margin-bottom:0;
		display: block;
		float: none!important;
	}
	.lang{
		text-align: center;
		margin-top: 20px;
	}
	.lang ul{
		padding: 0;
	}
	.headerBt{
		margin-top: 20px;
		text-align: center;
	}
	.inputBoxSearch input{
		border-top: 1px solid #ddd;
	}
	.formSelect{
		background: url(img/downMobile.svg) no-repeat #fff;
		background-position: 100% center;
	}
	.btnBoxSearch button{
		padding: 10px;
		width: 100%;
	}
	.btnBoxSearch button i{
		font-size: 15px;
	}
	.textBTSearch{
		display: inline-block;
		font-weight: bold;
		padding-left: 10px;
	}
	#footer img{
		max-width: 100%;
		margin-top: 20px;
	}
}
.menu-header{
	border: #9c9c9c 2px solid;
	margin-bottom: 20px; border-radius: 5px;;
	margin-top:20px; padding-top:20px;
}
.more{
	background-color: #3b8ab4;
	color: #fff;
	padding: 5px 20px;
	border-radius: 6.5px;
}
.more a{
	color: #fff;
}
.btnDetaslhes{
	padding: 6px 10px; background-color:rgb(0,74,142); color:#fff; border-radius:4px; font-size: 12px; 
}
.btnDetalhes{
	padding: 3px 5px;
	background-color: rgb(0 74 142);
	text-decoration:none;
	color: var(--wp--preset--color--base-2);
	border-radius: 4px;
	font-size: 11px;
	border: 2px solid #31286b; cursor: pointer;
	color: #fff;
}
.btnDetalhes:hover{
	color: rgb(0,153,255);
	text-decoration:none;
}
.linkTitulo{
	color:#111;     font-size: 22px;
	line-height: 32px;
}
.texto{
	font-size:12px;
}
.table-detail td:nth-child(odd) {
	font-size:14px;
	font-weight: bold;
	color:#222;
	text-align:left;
}

.table-detail td:nth-child(even) {
	font-size:14px;
	color:#222
}
.breadcrumb{
	border-radius:  0px .25rem .25rem;
	background-color: #f5f5f5;
}
.breadcrumb a{
	/* font-size: 12px; */
	/* font-weight: bold; */
}
.breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item{
	content: ">>";
	/* font-size:12px; */
	/* font-weight: bold; */
}
h1{
	font-size: 20px !important;
}
#header{
	margin-bottom:30px;
}
.breadcrumb {
	background: #fff;
	margin-top: 30px
}
.text-bg-info {
	color: #000 !important;
	background-color: #e3e3e3;
}
.boxFilter section{
	overflow: hidden;
}